
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <div class="row">
                  <div class="col-md-3">
                    <h3 class="box-title">Bordered Table</h3>
                  </div>
                  <div class="col-md-5">
                    <div class="input-group">
                      <input type="text" class="form-control" ng-model="search.name" placeholder="Search by name">
                      <span class="input-group-btn">
                        <button class="btn btn-primary" ng-click="getFigure(figureData.page, search)" type="button">Search</button>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <a href='#!/app/add-figure' class="btn btn-primary pull-right">Add</a>
                  </div>
              </div>
              
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-bordered">
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Name</th>
                  <th>Figures</th>
                  <th>Symbol</th>
                  <th>Icon</th>
                  <th style="width: 140px">
                    Action
                  </th>
                </tr>
                <tr ng-repeat="figure in figureData.docs">
                  <td>{{$index+1}}</td>
                  <td>{{figure.name}}</td>
                  <td>{{figure.figures}}</td>
                  <td><i class="{{figure.symbol}}"></i></td>
                  <td><i class="{{figure.icon}}"></i></td>
                  <td>
                    <a href='#!/app/figure-details/{{figure.id}}'><i class="fa fa-edit fa-2x"></i></a>
                    <a href="javascript:void(0)" ng-click="deleteFigure(figure);"><i class="fa fa-trash fa-2x"></i></a>
                    <select class="form-control" ng-change="statusFigure(figure);" ng-model="figure.status">
                      <option value="1">Enable</option>
                      <option value="0">Disable</option>
                    </select>
                  </td>
                </tr>
                <tr ng-hide="figureData.docs.length>0">
                  <td class="text-center" colspan="6">
                    <h1>Not Found</h1>
                  </td>
                </tr>
              </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              <div class="row" ng-show="figureData.pages>1">
                  <div class="col-md-12">
                      <ul uib-pagination total-items="figureData.total" items-per-page="figureData.limit" ng-model="figureData.page" ng-change="getFigure(figureData.page,search);" max-size="5" class="pagination-sm" boundary-link-numbers="true" rotate="false"></ul>
                  </div>
              </div>
            </div>
            <div class="overlay" ng-show="loader">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
          </div>
          <!-- /.box -->

        </div>
      </div>