<div class="row">
    <!-- left column -->
    <div class="col-md-8 col-md-offset-2">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Category</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form">
                <div class="box-body">
                  <div class="form-group"> 
                    <label for="category_name">Category Name</label>
                    <input type="text" class="form-control" ng-model="categoryData.name" ng-change="categoryData.slug=slug(categoryData.name)"  placeholder="Enter Category Name">
                  </div>
                  <div class="form-group">
                    <label for="category_slug">Slug</label>
                    <input type="text" class="form-control" ng-model="categoryData.slug" disabled="disabled"  placeholder="Slug">
                  </div>
                  <div class="form-group">
                    <label for="category_short_desc">Short Description</label>
                    <textarea ui-tinymce  ng-model="categoryData.short_desc" class="form-control" placeholder="Enter short description"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="category_list_image"> List Image</label>
                    <image-manager image-file="categoryData.list_image" image-no="category-image-1">
                    </image-manager>
                  </div>
                  <div class="form-group">
                    <label for="category_cover_image"> Cover Image</label>
                    <image-manager image-file="categoryData.cover_image" image-no="category-image-2">
                    </image-manager>
                  </div>
                  <div class="form-group">
                    <label for="category_meta_title">Meta Title</label>
                    <input type="text" class="form-control" ng-model="categoryData.meta_title"  placeholder="Enter meta title">
                  </div>
                  <div class="form-group">
                    <label for="category_meta_desc">Meta Description</label>
                    <textarea ng-model="categoryData.meta_desc" class="form-control" placeholder="Enter meta description"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="category_sort_order">Sorting</label>
                    <input type="number" class="form-control" ng-model="categoryData.sort_order"  placeholder="Enter sort">
                  </div>
                  <div class="form-group">
                    <label for="category_status">Status</label>
                    <select  ng-model="categoryData.status" class="form-control">
                      <option value="1" >Enable</option>
                      <option value="0" >Disable</option>
                    </select> 
                  </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                  <button type="submit" ng-click="saveCategory();" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>

    </div>
    <!--/.col (left) -->
</div>