        <div class="modal-header">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="modal-title" id="modal-title">Create Directory</h3>
                </div>
            </div>           
                    
        </div>
        <div class="modal-body" id="modal-body">
            <form>
                <div ng-show="message.msg" class="alert alert-{{message.type}} ">
                    <button type="button" class="close" data-dismiss="alert" ng-click="closeAlert($index)" aria-hidden="true">&times;</button>
                    {{message.msg}}
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" ng-model="name" >
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="row">
                
                <div class="col-md-12">
                    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                </div>
            </div>
                    
        </div>