<!doctype html><html class="no-js" lang="zxx"> 
  <% include ../../include-files/head.html %>
</head>
<body id="body" class="tg-home tg-homeone">
  <!--************************************
      Wrapper Start
  *************************************-->
  <div id="tg-wrapper" class="tg-wrapper tg-haslayout">
    <% include ../../include-files/header.html %>
    <div id="tg-homebanner" class="tg-homebanner tg-haslayout">
      <figure class="tg-themepostimg">
        <img src="/media/sliders/slider3.jpg" alt="image description">
        <figcaption>
          <div class="bannercontent" data-tilt >
            <h1>Contact</h1>           
          </div>
        </figcaption>
      </figure>
    </div>
      <!--************************************
          Event Registration Start
      *************************************-->
      <section id="tg-venue" class="tg-sectionspace tg-haslayout">
        <div class="container">
          <div class="row">
            <div class="tg-eventvenueregistration">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-headholder">
                  <div class="tg-sectionhead tg-textalignleft">
                    <div class="tg-sectionheading">
                      <span>Come first &amp; get early bird discount</span>
                      <h2>Event venu &amp; registration</h2>
                    </div>
                  </div>
                </div>
                <div class="tg-locationregister no-gutters">
                  <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                    <div id="tg-locationmap" class="tg-locationmap tg-map"></div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <div class="tg-register">
                      <div class="tg-registerholder">
                        <div class="tg-registercontent">
                          <div class="alert hidden" role="alert">
                            You successfully read this important alert message.
                          </div>
                          <form class="tg-formtheme tg-formregister enquiry-form" id="enquiry-form">
                            <fieldset>
                              <div class="form-group">
                                <input type="text" class="form-control" value="Type Your Name" name="name" onblur="if(this.value == '') { this.value ='Type Your Name'; }" onfocus="if(this.value =='Type Your Name') { this.value = ''; }">
                              </div>
                              <div class="form-group">
                                <input type="text" class="form-control" value="Type Your Email" name="email" onblur="if(this.value == '') { this.value ='Type Your Email'; }" onfocus="if(this.value =='Type Your Email') { this.value = ''; }">
                              </div>
                              <div class="form-group">
                                <input type="text" class="form-control" value="Type Your Phone no" name="phone" onblur="if(this.value == '') { this.value ='Type Your Phone no'; }" onfocus="if(this.value =='Type Your Phone no') { this.value = ''; }">
                              </div>
                              <div class="form-group">
                                <textarea class="form-control" placeholder="Type Your Message" name="message"></textarea>
                              </div>
                              <div>
                                <input type="hidden" name="for_e" value="Contact Us">
                                <label class="submit-btn">
                                  <button type="submit" value="Send Now" class="tg-btn">Submit</button>
                                </label>
                              </div>
                            </fieldset>
                          </form>
                          <div class="tg-sendquery">
                            <h2>Send your query / complaint @</h2>
                            <h3><%=address[0].phone_no %></h3>
                            <h4><%=address[0].email %></h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--************************************
          Event Registration End
      *************************************-->
      
    </main>
    <!--************************************
        Main End
    *************************************-->
    <!--************************************
        Main End
    *************************************-->
    <% include ../../include-files/footer.html %>
  </div>
  <!--************************************
      Wrapper End
  *************************************-->
  <% include ../../include-files/script.html %>
</body>
</html>
<script>
  // Google maps pin tooltip  
  var markers = [
      {
          "lat": '<%= address[0].geo_lat %>',
           "lng": '<%= address[0].geo_long %>',
      
      "description": '<%= address[0].address %>'
        }
  ];
  
  
  // Google maps main api
  window.onload = function () {
    var mapOptions = {
      center: new google.maps.LatLng(markers[0].lat, markers[0].lng),
          zoom: 13,
      flat: true,
      scrollwheel:false,
      panControl:false,
      zoomControl:true,
      streetViewControl: false,
      mapTypeControl: false,
    
  // Google maps style  
            styles: [
    {
        "featureType": "administrative",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#444444"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "all",
        "stylers": [
            {
                "color": "#f2f2f2"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "poi.business",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "saturation": "100"
            },
            {
                "lightness": "4"
            },
            {
                "hue": "#ff0000"
            },
            {
                "gamma": "0.00"
            },
            {
                "weight": "0.01"
            },
            {
                "invert_lightness": true
            }
        ]
    },
    {
        "featureType": "poi.business",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "hue": "#ff0000"
            },
            {
                "invert_lightness": true
            }
        ]
    },
    {
        "featureType": "poi.business",
        "elementType": "labels.text.stroke",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "hue": "#ff0000"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "all",
        "stylers": [
            {
                "saturation": -100
            },
            {
                "lightness": 45
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "color": "#ffbb3f"
            },
            {
                "visibility": "on"
            }
        ]
    }
],
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
      var infoWindow = new google.maps.InfoWindow();
      var map = new google.maps.Map(document.getElementById("tg-locationmap"), mapOptions);
      for (i = 0; i < markers.length; i++) {
      var data = markers[i]
            var myLatlng = new google.maps.LatLng(data.lat, data.lng);
      var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
          icon: 'images/map-pin.svg',
            title: data.title
            });
      (function (marker, data) {
            google.maps.event.addListener(marker, "click", function (e) {
                infoWindow.setContent(data.description);
                infoWindow.open(map, marker);
              });
            })(marker, data);
        }
    };
  
</script>